{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Article</title>
</head>
<body>
    <h1> {{  article.title }} edit form</h1>
<br>
    <div class="container">
        <div class="row">
            <form method="POST">
                {% csrf_token %}
                 <div class="mb-3">
                        <label for="title" class="from-label">Edit title here</label>
                        <input name="title" type="text" class="form-control" id="title" placeholder="enter title" value="{{ article.title }}">
                    </div>
                    <div class="mb-3">
                        <label for="content" class="from-label">Edit content here</label>
                        <input name="content" type="text" class="form-control" id="content" placeholder="enter content" value="{{ article.content }}">
                    </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
<hr>
</body>
</html>
{% endblock %}