{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit profile</title>
</head>
<body>
   <br>
   <h1><a class="btn btn-primary"
           href="/{{ user.username }}"
           role="button">{{ user.username }}</a> profile. </h1>
   <h1><a class="btn btn-primary"
           href="/{{ user.username }}/delete"
           role="button">Delete</a> {{ user.username }} profile. </h1>
    <div class="container">
        <div class="row">
            <form method="POST">
                {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="from-label">Username</label>
                            <input name="username" type="text" class="form-control" id="username" placeholder="username" value="{{ user.username }}">
                        </div>
{#                        <div class="mb-3">#}
{#                            <label for="first_name" class="from-label">First name</label>#}
{#                            <input name="first_name" type="text" class="form-control" id="first_name" placeholder="first_name" value="{{ user.first_name }}">#}
{#                        </div>#}
{#                        <div class="mb-3">#}
{#                            <label for="last_name" class="from-label">Last name</label>#}
{#                            <input name="last_name" type="text" class="form-control" id="last_name" placeholder="last_name" value="{{ user.last_name }}">#}
{#                        </div>#}
                        <div class="mb-3">
                            <label for="phone" class="from-label">Phone</label>
                            <input name="phone" type="text" class="form-control" id="phone" placeholder="enter phone number" value="{{user.profile.phone}}">
                        </div>
                        <div class="mb-3">
                             <label for="country" class="from-label">Country</label>
                            <input name="country" type="text" class="form-control" id="country" placeholder="enter country" value="{{ user.profile.country }}">
                        </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
{% endblock %}