{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User_profile</title>
</head>
<body>
{% if user.is_authenticated %}
<p>Hello, {{ user.username }}</p>
{% endif %}
<br>
<div class="container">
    <div class="row">
        <p>Full name:{{ user.get_full_name }}</p>
        <p>Phone:{{ user.profile.phone }}</p>
        <p>Country: {{ user.profile.country }}</p>
        <a class="btn btn-primary"
           href="/{{ user.username }}/edit/"
           role="button">Редактировать юзера</a>

    </div>
</div>
</body>
</html>
{% endblock %}